.paginationBttns{
  width: 80%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin-top: 20px;
}

.paginationBttns a{
  padding: 8px 20px;
  background-color: #df2020;
  color: #ffffff!important;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationBttns li.selected a,
.paginationBttns a:hover{
  background-color: #212245;
}